*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
  background-color: #f8f8f8;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: #f8f8f8; */
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    height: 100%;
    width:19%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    letter-spacing: -1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
#nav h1::after{
    content: "©";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-weight: 300;
    font-size:20px;
    top: 19%;
    right: 18%;
}
#nav h1::before{
    content: "model management";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-weight: 500;
    color: #666;
    font-size:15px;
    letter-spacing: 0.5px;
    bottom:13%;
    right: 21%;
}
#nav h2{
    /* background-color: blue; */
    height: 100%;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 26px;
    font-weight: 500;
}
#nav h2:nth-last-child(2){
    width:29%;
}
#nav h2:nth-last-child(1){
    width:10%;
}
#nav h3{
    display: none;
}
#centre{
    height: 95%;
    width: 100%;
    /* background-color: aqua; */
    padding: 4vw;
    position: relative;
}
#content{
    height:100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color:burlywood; */
    color: #fff;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    margin-bottom: 6vh;
}
#over1 h1{
    font-size:4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
    border-bottom: 2px solid #fff;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5vw;
    padding: 3vw;
    border-top: 2px solid #fff;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}
#scroll{
    height: 45vh;
    width: 100%;
    padding: 2vw;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 40vh;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
    padding:2vw;
    animation-name: anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll img{
    /* display: none; */
    height: 100%;
    border-radius: 50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

#alphabet h5{
    font-size: 1.8vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    margin-right: 2vw;
    border-bottom: 2px solid #000;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #00000000;
    transition: all ease 0.2s;

}
#alphabet h6:hover{
    border: 2px solid #000
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 52%;
    background-image: url(https://images.unsplash.com/photo-1697635298738-06099636522f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
}
#page2-part2{
    height: 100%;
    width: 45%;
}
#page2-part2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: 50% 35%;
}
.text{
    display: flex;
    justify-content: space-between;
}
#page2-part2 h2{
    padding-top: 1.5vw;
    font-size: 2vw;
    font-style: oblique;
}
#page2-part2 h4{
    padding-top: 1.5vw;
    font-size: 1.2vw;
    font-style: inherit;
}
#page3{
    height: 12vh;
    width: 100%;
    /* background-color: aquamarine; */
}
#page3 h1{
    font-size: 6vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5vw;
    padding-top: 2vw;
}
#page4{
    height: `100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center;
    
    /* background-color: gray; */
}
#page4-part1 {
    height: 100%;
    width: 55%;
    /* background-color:  #FFFFCC ; */
}

#page4-part1 img{
   
    width: 100%;
    height: 85%;
    padding-top: 6vh;
    
}
#page4-part1 h3{
    color: rgb(233, 109, 233);
    font-size: 6.5vh;
    line-height: 9vh;
    font-weight: 400;
    padding-left: 4vw;
    padding-top: 4vw;
}
#page4-part2 img{
    height: 95%;
    width: 100%;
    object-position: center;
}
#page5{
    height: 100%;
    width:100%;
    /* background-color: aqua; */
}
#page5 img{
    height: 85%;
    width: 100%;
    object-position:12% 25%;
    object-fit:cover;
    padding: 0.1vh 4vw;
    padding-bottom: 9vh;
}
#page5 h1{
    font-size: 3vw;
    font-weight: 900;
    padding:  1vh 42vw;
}
#page6{
    width: 100%;
    padding: 0 3vw;
    /* background-color: aquamarine; */
}
.elem{
    height: 19vh;
    width: 100%;
    padding: 0 2vw;
    /* background-color: red; */
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all ease 0.6s;
}
.elem img{
    height: 18vh;
    width: 9vw;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    object-position:top;
    object-fit: cover;
    transition: all ease 0.8s;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elem:nth-last-child(1) img{
    left: 40%;
}
.elem:nth-last-child(3) img{
    left: 40%;
}
.elem h3{
    font-size: 2.5vh;
    font-weight: 500;
}
.elem-part2{
    width: 45%;
}
.elem-part2 h1{
    font-size: 2.4vw;
    font-weight: 550;
}
.elem-part2 h5{
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
}
.elem:hover{
    background-color: #dcd4d4;
}
.elem:hover img{
    opacity: 1;
    left: 25%;
}
#page7{
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    padding-top: 15vh;
    padding-bottom: 5vh;
    display: flex;
 
}
#page7-part1{
    height:100%;
    width: 45%;
    /* background-color: red; */
    margin-left: 6vw;
    background-image: url(https://images.unsplash.com/photo-1506795660198-e95c77602129?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNleHklMjBnaXJsfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}
#page7-part2{
    height: 100%;
    width: 45%;
    /* background-color: red; */
    padding-left: 5vw;
}
#page7-part2 h1{
    font-size: 5vh;
    
}
#page7-part2 h3{
    padding-top: 4vh;
    font-size: 3vh;
}
#page7-part2 h6{
    padding-top: 4vh;
    font-size: 2vh;
}
.el1{
    height: 61%;
    width: 100%;
    position: relative;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
}
.el1 img{
    object-fit: cover;
    background-position: top;
    width: 49%;
    padding-top:3vh;
}
#page8{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}
#page8 img {
    padding: 5vh 8vh;
    object-fit:cover;
    height: 100%;
    width: 100%;
}
#page9{
    height: 100%;
    width: 100%;
    /* background-color: blueviolet;  */
    display: flex;
}
#page9-part1{
    height: 100%;
    width: 55%;
    /* background-color: yellow; */
    margin-left: 3.9vw;
    background-image: url(https://images.unsplash.com/photo-1441123694162-e54a981ceba5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGZlbWFsZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
}
#page9-part2{
    height: 65%;
    width: 45%;
    /* background-color: mediumvioletred; */
    margin-right: 3.9vw;
    margin-left: 2vw;
    background-image:url(https://images.unsplash.com/flagged/photo-1571041698405-0f1e41ea2cd1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI5fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
}
#page9-part2 h2{
    font-size: 2vw;
    font-weight: 300;
    margin-top: 82%;
    line-height: 5.2vh;
}
#page9-part2 h6{
    font-size: 1vw;
    font-weight: 300;
    margin-top: 82%;
    line-height: 3.2vh;
}
#marque{
    margin-top: 5vh;
    /* height: 15vh; */
    width: 100%;
    padding: 0.5vw;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#marque h1{
    display: inline-block;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family:monospace ;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move {
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(calc(-100% - 20px))
    }
}
#page10{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#part1{
    height: 100%;
    width: 20%;
    padding-left: 10vh;
    
}
#part1 h1{
    line-height: 15vh;
    font-size: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#part2{
    height: 100%;
    width: 38%;
}
.cla{
    height: 22%;
    width: 100%;
    padding-left: 3vh;
    padding-top: 5vh;
    display: flex;
    position: relative;
}
#part2 img{
    object-fit: cover;
    height: 72vh;
    width: 100%;
    object-position: 10% 20%;
}
#part2 h4{
    position: absolute;
    font-size: 3vh;
    font-weight: 500;
    letter-spacing:0.5vh;
}
#part2 h3{
    height: 3.5vh;
    width: 9vh;
    padding-left:1.4vh;
    padding-bottom: 0.3vh;
    font-size: 3vh;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 50%;
}
#part3{
    height: 100%;
    width: 38%;
}
.cl{
    width: 100%;
    height: 22vh;
    padding-left: 3vh;
    padding-top: 5vh;
    display: flex;
    position: relative;
}
#part3 h4{
    position: absolute;
    font-size: 3vh;
    font-weight: 500;
    letter-spacing:0.5vh;
}
#part3 h3{
    height: 3.5vh;
    width: 9vh;
    padding-left:1.4vh;
    padding-bottom: 0.3vh;
    font-size: 3vh;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 50%;
}
#part3 img{
    object-fit: cover;
    height: 72vh;
    width: 100%;
    object-position: 10% 25%;
}
#new{
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    justify-content: space-between;

}
#mav{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
#mav h1{
    height: 100%;
    width:19%;
    display: flex;
    padding-top: 7vh;
    justify-content: center;
    font-size: 45px;
    letter-spacing: -1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
#mav h1::after{
    content: "©";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-weight: 300;
    font-size:20px;
    top:56%;
    right: 18%;

}
#mav h1::before{
    content: "model management";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-weight: 500;
    color: #666;
    font-size:15px;
    letter-spacing: 0.5px;
    top:86%;
    right: 21%;

}
#mav h2{
    /* background-color: blue; */
    width:25%;
    display: flex;
    padding-top: 8vh;
    justify-content: center;
    /* border-right: 2px solid #000; */
    font-size: 26px;
    font-weight: 500;

}
#add{
    width: 100%;
}
#add h4{
    padding-left: 80%;
    font-size: 2.5vh;
}
#add h4::after{
    content: "©";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-weight: 500;
    font-size:3vh;
    left:78.5%;
}
#add h5{
    padding-top: 1vh;
    padding-left: 79%;
    padding-bottom: 1vh;
}

